.container {
  @apply fixed w-full px-4 flex items-center transition-all duration-500 overflow-scroll z-50;
  height: 68px;
  min-width: 1280px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  &.-isScrolled {
    @apply bg-black bg-opacity-70;
  }
}
